@import url('common.css');
$mainColor : #201d1e;
$beige :#dcd6d0;
$blend :#dfe2e1;
$red: #fc3e1d;
$white: #fffffe;
$about: #bababa;
$font11: 1.12em;
$font16: 1.6em;
$font21: 2.1em;
$font34: 3.4em;
$font42: 4.2em;
$font53: 5.3em;

@mixin w93_ma0 {
    width:93%;
    margin: 0 auto; 
}
@mixin flex($justify) {
    display:flex;
    justify-content: $justify;
    align-items: center;
}
body{
    background-color: $mainColor;
}
header{ @include w93_ma0;}
article{
    @include flex(left);
    padding: 25px 0;
}
.logo{
    position: fixed;
    left:4%; top:30px;
    span{
        font-weight: bold;
        font-size: $font16;
        color: $blend;
    }
}
//------------------ menu-toggle
.menu_toggle{
    position: fixed;
    top:39px; right:4%;
    z-index: 99;
    transform: translate(18px,-50%);

    &:hover .menu-trigger span::after{ transform:scaleX(1); }

    .menu-trigger{
        position: relative;
        width: 50px;
        height: 44px;
        transform:scale(0.5);
        display: inline-block;
        transition: all .4s;

        span{
            display: inline-block;
            transition: all .4s;
            position: absolute;
            left: 0;
            width: 100%; height: 4px;
            border-radius: 4px;
            background: $blend;
            
            &:nth-of-type(1){ top: 0; }
            &:nth-of-type(2){ top: 20px; }
            &:nth-of-type(3){ bottom: 0; } 
                        
            &::after{
                content: '';
                background: $red;
                position: absolute;
                top:0; left:0;
                width: 100%; height:100%;
                border-radius: 4px;
                transform:scaleX(0);
                transform-origin: left center;
                transition: .2s;
            }
            &:nth-of-type(1)::after{transition-delay: .1s;}
            &:nth-of-type(2)::after{transition-delay: .2s;}
            &:nth-of-type(3)::after{transition-delay: .3s;}   
        }
    }
}
//------------------ menu-toggle

// ---------------------------------------nav menu
.menu_nav{
    position: fixed;
    top:-100%; left:0;
    width: 100%; height:100%;
    @include flex(center);
    background: $beige;
    z-index: 5;
    padding: 110px 10%;
    transition:.5s;
    &.active{ top:0%;}

    .h3{
        width: 40%; height: 95%;
        h3{
            font-size: $font34;
            color: $red;  
            font-weight: normal;  
        }
    }
}
.menu_list{
    width: 55%;
    li a{
        @include flex(space-between);
        padding-bottom: 25px;
        margin-bottom:42px;
        border-bottom: 1px solid $mainColor;
        position: relative;

        &:hover .nav_name p{color: $red;}
        &:hover::after{transform:scaleX(1);}
        &:hover svg{transform:rotate(45deg);}
        &::after{
            content: '';
            width: 100%; height:1.5px;
            background: $mainColor;
            position:absolute;
            left:0; bottom:0;
            transform-origin: left center;
            transition: .5s;
            transform: scaleX(0);
        }
    }
}
.nav_list{
    @include flex(space-between);

    .nav_index p{font-size: $font11;}
    .nav_name p{font-size: $font42; margin-left: 50px; transition: .5s;}    
}
.nav_icon svg{ transition:.3s; }
// ---------------------------------------nav menu
// ----------------------------------------header 끝


// -------------------------------------------main

main{width: 100%;}
.title{
    width: 75%; margin: 0 auto;
    padding: 17vh 0 20vh;
    
    h1 p{
        color: $white;
        font-size: $font53;
        font-weight: normal;
        line-height: 1.29;
        letter-spacing: -1.57px;
        animation: titleAni 1s ;
    }
    h1 p:nth-of-type(2){ animation: titleAni 2s ; }
    h1 p:nth-of-type(3){ animation: titleAni 3s ; }
}
@keyframes titleAni{
        0%{opacity: 0;}
        30%{
            transform:translateY(10px);
            opacity: 0;
        }
        100%{
            transform:translateY(0px);
            opacity: 1;
        }
}
.about_first_section{
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.first_img{
    width: 81%;
    img{
        width: 100%; height:100%;
    }
}
.second_img{
    position: absolute;
    bottom:-10%; left:7%;
    width: 25%;
}
.scroll_down{
    position: absolute;
    left:3%; top:20%;
    overflow: hidden;
}
.scroll_down svg{
    animation: scroll_downAni 2s infinite;
}
@keyframes scroll_downAni{
    0%{transform:translateY(-200%)}
    50%{transform:translateY(0%)}
    100%{transform:translateY(200%)}
}
.about_us{
    padding-top: 24vh;
    padding-right:20%;
    padding-left:19%;
    padding-bottom:20vh;
    width: 100%;
    .p_overtitle{
        margin-bottom: 20px;
        p{
            font-size: $font11;
            color: $about;
            letter-spacing: -.26px;
            line-height: 1.57;
            text-transform: uppercase;
            opacity: 0;
            transform: translateY(50px);    
        }
        p.active{transform:translateY(0); opacity: 1; transition:1s;}
    }
    .p_title{
        p{
            color: $about;
            margin-top:0;
            font-size: $font34;
            letter-spacing: -1px;
            line-height: 1.43;
            opacity: 0;
            transform: translateY(70px);    
        }
        p.active{transform:translateY(0); opacity: 1; transition:1s; transition-delay: .6s;}
        p:nth-of-type(2).active{transition:1.3s; transition-delay: .6s;}
        p:nth-of-type(3).active{transition:1.6s; transition-delay: .6s;}
        p:nth-of-type(4).active{transition:1.9s; transition-delay: .6s;}
        p:nth-of-type(5).active{transition:2.1s; transition-delay: .6s;}
    }
}


.drag_slider{
    max-width:100%; height: 754px;
    overflow: hidden;
}
.slider_index{
    @include w93_ma0;

    p{
        color:$about;
        font-size: $font11;
        text-align: right;
        margin-bottom:57px;
        
    }
}
.slider_grab{
    width:2200px; height:70%;
    display: flex;
    transition:1s;
    img{
        top:0;
        width: 1000px;
        margin:0% 2%;
    }
}
.slider_footer{
    margin-top: 57px;
    .slider_nav{
        @include w93_ma0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        button{
            width: 40px; height:40px;
            background: none;
            border: none;
            outline:none;
            cursor:pointer;
            padding: 0;
            &:nth-of-type(1){margin-right:32px;}
            &:hover svg path{fill:red; transition:.5s;}

            svg{
                width: 7px; height:12px;
            }
            path{fill:$white;}
        }
    }
}
.about_section{
    display: flex;
    align-items: center;
    padding-top: 28vh;
    padding-bottom: 29vh;
    width: 100%;
    
    .section_img{width: 49.5%;}
    .section_text{
        width: 33%; margin-left: 13%;
        position: relative;
        
        .title_hold{
            position: absolute; left:-50px; top:4px;
            p{
            font-size: $font11;
            font-weight: bold;
            color: white;
            opacity: 0;
            transform:translateY(30px);
            transition:.5s .5s;
                &.active{
                    opacity: 1;
                    transform:translateY(0);
                }
            }
        }
        h2{
            color: $white; font-size: $font42;
            letter-spacing: -1.25px;
            line-height: 1.33;
            font-weight: normal;
            margin-bottom: 42px;
            opacity: 0;
            transform:translateY(30px);
            transition:.5s 1s;
                &.active{
                    opacity: 1;
                    transform:translateY(0);
                }

        }
        p{
            color: $about; font-size: $font21;
            letter-spacing: -.64px;
            line-height: 1.64;
            opacity: 0;
            transform:translateY(30px);
            transition:1s;
                &.active{
                    opacity: 1;
                    transform:translateY(0);
                }

        }
    }
}
.jobs_section{
    padding-top: 10vh;
    padding-bottom: 26vh;
    width: 100%;
    .section_text{
        width: 73%; margin:0 auto;
        position: relative;
        .title_hold{
            position: absolute; left:-50px; top:4px;
            p{
            font-size: $font11;
            font-weight: bold;
            color: white;
            opacity: 0;
            transform:translateY(30px);
            transition:.5s .5s;
                &.active{
                    opacity: 1;
                    transform:translateY(0);
                }
            }
        }
        h2{
            color: $white; font-size: $font42;
            letter-spacing: -1.25px;
            line-height: 1.33;
            font-weight: normal;
            margin-bottom: 42px;
            opacity: 0;
            transform:translateY(30px);
            transition:.5s 1s;
                &.active{
                    opacity: 1;
                    transform:translateY(0);
                }
        }
        p{
            color: $about; font-size: $font21;
            letter-spacing: -.64px;
            line-height: 1.64;
            margin-right: 50%;
            opacity: 0;
            transform:translateY(30px);
            transition:1s;
                &.active{
                    opacity: 1;
                    transform:translateY(0);
                }

        }
    }
}