@import url("common.css");
body {
  background-color: #201d1e;
}

header {
  width: 93%;
  margin: 0 auto;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

.logo {
  position: fixed;
  left: 4%;
  top: 30px;
}

.logo span {
  font-weight: bold;
  font-size: 1.6em;
  color: #dfe2e1;
}

.menu_toggle {
  position: fixed;
  top: 39px;
  right: 4%;
  z-index: 99;
  -webkit-transform: translate(18px, -50%);
          transform: translate(18px, -50%);
}

.menu_toggle:hover .menu-trigger span::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu_toggle .menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.menu_toggle .menu-trigger span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: #dfe2e1;
}

.menu_toggle .menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu_toggle .menu-trigger span:nth-of-type(2) {
  top: 20px;
}

.menu_toggle .menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu_toggle .menu-trigger span::after {
  content: '';
  background: #fc3e1d;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: .2s;
  transition: .2s;
}

.menu_toggle .menu-trigger span:nth-of-type(1)::after {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.menu_toggle .menu-trigger span:nth-of-type(2)::after {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.menu_toggle .menu-trigger span:nth-of-type(3)::after {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.menu_nav {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #dcd6d0;
  z-index: 5;
  padding: 110px 10%;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu_nav.active {
  top: 0%;
}

.menu_nav .h3 {
  width: 40%;
  height: 95%;
}

.menu_nav .h3 h3 {
  font-size: 3.4em;
  color: #fc3e1d;
  font-weight: normal;
}

.menu_list {
  width: 55%;
}

.menu_list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 25px;
  margin-bottom: 42px;
  border-bottom: 1px solid #201d1e;
  position: relative;
}

.menu_list li a:hover .nav_name p {
  color: #fc3e1d;
}

.menu_list li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu_list li a:hover svg {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu_list li a::after {
  content: '';
  width: 100%;
  height: 1.5px;
  background: #201d1e;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_list .nav_index p {
  font-size: 1.12em;
}

.nav_list .nav_name p {
  font-size: 4.2em;
  margin-left: 50px;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav_icon svg {
  -webkit-transition: .3s;
  transition: .3s;
}

main {
  width: 100%;
}

.title {
  width: 75%;
  margin: 0 auto;
  padding: 17vh 0 20vh;
}

.title h1 p {
  color: #fffffe;
  font-size: 5.3em;
  font-weight: normal;
  line-height: 1.29;
  letter-spacing: -1.57px;
}

.about_first_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.first_img {
  width: 81%;
}

.first_img img {
  width: 100%;
  height: 100%;
}

.second_img {
  position: absolute;
  bottom: -10%;
  left: 7%;
  width: 25%;
}

.scroll_down {
  position: absolute;
  left: 3%;
  top: 20%;
}

.about_us {
  padding-top: 24vh;
  padding-right: 20%;
  padding-left: 19%;
  padding-bottom: 20vh;
  width: 100%;
}

.about_us .p_overtitle {
  margin-bottom: 20px;
}

.about_us .p_overtitle p {
  font-size: 1.12em;
  color: #bababa;
  letter-spacing: -.26px;
  line-height: 1.57;
  text-transform: uppercase;
}

.about_us .p_title p {
  color: #bababa;
  margin-top: 0;
  font-size: 3.4em;
  letter-spacing: -1px;
  line-height: 1.43;
}

.drag_slider {
  width: 100%;
  height: 754px;
}

.slider_index {
  width: 93%;
  margin: 0 auto;
}

.slider_index p {
  color: #bababa;
  font-size: 1.12em;
  text-align: right;
  margin-bottom: 57px;
}

.slider_grab {
  width: 100%;
  height: 70%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider_grab img {
  top: 0;
  width: 1000px;
  margin-left: 4%;
}

.slider_footer {
  margin-top: 57px;
}

.slider_footer .slider_nav {
  width: 93%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_footer .slider_nav button {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  padding: 0;
}

.slider_footer .slider_nav button:nth-of-type(1) {
  margin-right: 32px;
}

.slider_footer .slider_nav button svg {
  width: 7px;
  height: 12px;
}

.slider_footer .slider_nav button path {
  fill: #fffffe;
}

.about_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 28vh;
  padding-bottom: 29vh;
  width: 100%;
}

.about_section .section_img {
  width: 49.5%;
}

.about_section .section_text {
  width: 33%;
  margin-left: 13%;
  position: relative;
}

.about_section .section_text .title_hold {
  position: absolute;
  left: -50px;
  top: 4px;
}

.about_section .section_text .title_hold p {
  font-size: 1.12em;
  font-weight: bold;
  color: white;
}

.about_section .section_text h2 {
  color: #fffffe;
  font-size: 4.2em;
  letter-spacing: -1.25px;
  line-height: 1.33;
  font-weight: normal;
  margin-bottom: 42px;
}

.about_section .section_text p {
  color: #bababa;
  font-size: 2.1em;
  letter-spacing: -.64px;
  line-height: 1.64;
}

.jobs_section {
  padding-top: 10vh;
  padding-bottom: 26vh;
  width: 100%;
}

.jobs_section .section_text {
  width: 73%;
  margin: 0 auto;
  position: relative;
}

.jobs_section .section_text .title_hold {
  position: absolute;
  left: -50px;
  top: 4px;
}

.jobs_section .section_text .title_hold p {
  font-size: 1.12em;
  font-weight: bold;
  color: white;
}

.jobs_section .section_text h2 {
  color: #fffffe;
  font-size: 4.2em;
  letter-spacing: -1.25px;
  line-height: 1.33;
  font-weight: normal;
  margin-bottom: 42px;
}

.jobs_section .section_text p {
  color: #bababa;
  font-size: 2.1em;
  letter-spacing: -.64px;
  line-height: 1.64;
  margin-right: 50%;
}
/*# sourceMappingURL=about.css.map */