


html,body{margin:0;}
p,figure,h1,h2,h3,h4,h5,h6{margin:0;}
ul,li{list-style: none; margin:0; padding:0;}
*{
    box-sizing: border-box;
	font-family: 'NBAkademieStd-Regular';
    color: #201d1e;
    font-size: 10px;
}
img{width:100%; vertical-align: top;}
a{
    text-decoration: none;
    color:#201d1e;
}

.en{font-family: 'Karla';}
.kr{font-family: 'gulim';}



/* font-style:italic;
font-weight:bold;
line-height:24px;
font-size:12px;
font-family:'dotum';


font:italic bold 24px / 30px 'dotum';
font:bold 24px / 30px 'dotum';
font:24px / 30px 'dotum';
font:24px 'dotum';

/* style weight size / line- height family
필수(size,family) */


/* 
color:#000;
letter-spacing:1px; */ */
