@import url("common.css");
body {
  background-color: #a1a2a6;
}

header {
  width: 93%;
  margin: 0 auto;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

.logo {
  position: fixed;
  left: 4%;
  top: 30px;
}

.logo span {
  font-weight: bold;
  font-size: 1.6em;
  color: #201d1e;
}

.menu_toggle {
  position: fixed;
  top: 39px;
  right: 4%;
  z-index: 99;
  -webkit-transform: translate(18px, -50%);
          transform: translate(18px, -50%);
}

.menu_toggle:hover .menu-trigger span::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu_toggle .menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.menu_toggle .menu-trigger span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: #201d1e;
}

.menu_toggle .menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu_toggle .menu-trigger span:nth-of-type(2) {
  top: 20px;
}

.menu_toggle .menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu_toggle .menu-trigger span::after {
  content: '';
  background: #fc3e1d;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: .2s;
  transition: .2s;
}

.menu_toggle .menu-trigger span:nth-of-type(1)::after {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.menu_toggle .menu-trigger span:nth-of-type(2)::after {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.menu_toggle .menu-trigger span:nth-of-type(3)::after {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.menu_nav {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #dcd6d0;
  z-index: 5;
  padding: 110px 10%;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu_nav.active {
  top: 0%;
}

.menu_nav .h3 {
  width: 40%;
  height: 95%;
}

.menu_nav .h3 h3 {
  font-size: 3.4em;
  color: #fc3e1d;
  font-weight: normal;
}

.menu_list {
  width: 55%;
}

.menu_list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 25px;
  margin-bottom: 42px;
  border-bottom: 1px solid #201d1e;
  position: relative;
}

.menu_list li a:hover .nav_name p {
  color: #fc3e1d;
}

.menu_list li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu_list li a:hover svg {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu_list li a::after {
  content: '';
  width: 100%;
  height: 1.5px;
  background: #201d1e;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_list .nav_index p {
  font-size: 1.12em;
}

.nav_list .nav_name p {
  font-size: 4.2em;
  margin-left: 50px;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav_icon svg {
  -webkit-transition: .3s;
  transition: .3s;
}

.contact {
  width: 85%;
  margin: 0 auto;
  padding: 27vh 0 17.4vh;
}

.contact .contact_container h1 {
  font-size: 5.3em;
  line-height: 1.29;
  letter-spacing: -1.57px;
  font-weight: normal;
}

.contact_main {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 13vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact_main_container {
  width: 34%;
  margin-right: 11%;
}

.contact_main_container .contact_col {
  padding-bottom: 55px;
  border-bottom: 1px solid #201d1e;
}

.contact_main_container .contact_col p {
  margin-bottom: 11px;
  letter-spacing: -.26px;
  line-height: 1.57;
  font-size: 1.12em;
}

.contact_main_container .contact_col a {
  margin-bottom: 35px;
  letter-spacing: -.7px;
  line-height: 1.6;
  font-size: 2.5em;
}

.contact_main_container .contact_group {
  margin-top: 55px;
  padding-bottom: 55px;
  border-bottom: 1px solid #201d1e;
}

.contact_main_container .contact_group p {
  margin-bottom: 11px;
  letter-spacing: -.26px;
  line-height: 1.57;
  font-size: 1.12em;
}

.contact_main_container .contact_group a {
  margin-bottom: 35px;
  letter-spacing: -.7px;
  line-height: 1.6;
  font-size: 2.5em;
}

.contact_main_container .contact_group2 {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact_main_container .contact_group2 .contact_sub-col {
  margin-right: 50px;
}

.contact_main_container .contact_group2 .contact_sub-col p:nth-of-type(1) {
  text-transform: uppercase;
  letter-spacing: -.26px;
  line-height: 1.57;
  opacity: .5;
  font-size: 1.12em;
  margin-bottom: 11px;
}

.contact_main_container .contact_group2 .contact_sub-col p:nth-of-type(2) {
  letter-spacing: -.2px;
  line-height: 1.5625;
  font-size: 1.6em;
}

.contact_main_container .contact_group2 .contact_sub-col .list_reset a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact_main_container .contact_group2 .contact_sub-col .list_reset a p {
  font-size: 1.6em;
  margin-right: 14px;
}

.contact_main_container .contact_group2 .contact_sub-col .list_reset a svg {
  opacity: .5;
}

.contact_main_container2 {
  width: 55%;
}

.contact_main_container2 .contact_selector {
  margin-bottom: 65px;
}

.contact_main_container2 .contact_selector p {
  letter-spacing: -.26px;
  line-height: 1.57;
  font-size: 1.12em;
  opacity: .5;
  text-transform: uppercase;
  margin-bottom: 11px;
}

.contact_main_container2 .contact_selector .contact_selector_hold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 35px;
  border-bottom: 4px solid #201d1e;
}

.contact_main_container2 .contact_selector .contact_selector_hold h3 {
  letter-spacing: -1px;
  line-height: 1.43;
  font-size: 3.4em;
  font-weight: normal;
}

.contact_main_container2 .contact_form_container .form_input_container {
  margin-bottom: 6.6667vh;
  position: relative;
}

.contact_main_container2 .contact_form_container .form_input_container input {
  width: 100%;
  background: none;
  border: none;
  letter-spacing: -.64px;
  line-height: 1.64;
  font-size: 2.5em;
}

.contact_main_container2 .contact_form_container .form_input_container label {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: .5;
  font-size: 2.5em;
}
/*# sourceMappingURL=contact.css.map */