@import url('common.css');


$mainColor : #201d1e;
$beige :#dcd6d0;
$blend :#dfe2e1;
$red: #fc3e1d;
$white: #fffffe;
$about: #bababa;
$font11: 1.12em;
$font16: 1.6em;
$font21: 2.1em;
$font34: 3.4em;
$font42: 4.2em;
$font53: 5.3em;
$journalBack: #d3caba;
@mixin w93_ma0 {
    width:93%;
    margin: 0 auto; 
}
@mixin flex($justify) {
    display:flex;
    justify-content: $justify;
    align-items: center;
}

body{ background-color: $journalBack; }
header{ @include w93_ma0;}
article{
    @include flex(left);
    padding: 25px 0;
}
.logo{
    position: fixed;
    left:4%; top:30px;
    span{
        font-weight: bold;
        font-size: $font16;
        color: $mainColor
    }
}
//------------------ menu-toggle
.menu_toggle{
    position: fixed;
    top:39px; right:4%;
    z-index: 99;
    transform: translate(18px,-50%);

    &:hover .menu-trigger span::after{ transform:scaleX(1); }

    .menu-trigger{
        position: relative;
        width: 50px;
        height: 44px;
        transform:scale(0.5);
        display: inline-block;
        transition: all .4s;

        span{
            display: inline-block;
            transition: all .4s;
            position: absolute;
            left: 0;
            width: 100%; height: 4px;
            border-radius: 4px;
            background: $mainColor;
            
            &:nth-of-type(1){ top: 0; }
            &:nth-of-type(2){ top: 20px; }
            &:nth-of-type(3){ bottom: 0; } 
                        
            &::after{
                content: '';
                background: $red;
                position: absolute;
                top:0; left:0;
                width: 100%; height:100%;
                border-radius: 4px;
                transform:scaleX(0);
                transform-origin: left center;
                transition: .2s;
            }
            &:nth-of-type(1)::after{transition-delay: .1s;}
            &:nth-of-type(2)::after{transition-delay: .2s;}
            &:nth-of-type(3)::after{transition-delay: .3s;}   
        }
    }
}
//------------------ menu-toggle

// ---------------------------------------nav menu
.menu_nav{
    position: fixed;
    top:-100%; left:0;
    width: 100%; height:100%;
    @include flex(center);
    background: $beige;
    z-index: 5;
    padding: 110px 10%;
    transition:.5s;
    &.active{ top:0%;}

    .h3{
        width: 40%; height: 95%;
        h3{
            font-size: $font34;
            color: $red;  
            font-weight: normal;  
        }
    }
}
.menu_list{
    width: 55%;
    li a{
        @include flex(space-between);
        padding-bottom: 25px;
        margin-bottom:42px;
        border-bottom: 1px solid $mainColor;
        position: relative;

        &:hover .nav_name p{color: $red;}
        &:hover::after{transform:scaleX(1);}
        &:hover svg{transform:rotate(45deg);}
        &::after{
            content: '';
            width: 100%; height:1.5px;
            background: $mainColor;
            position:absolute;
            left:0; bottom:0;
            transform-origin: left center;
            transition: .5s;
            transform: scaleX(0);
        }
    }
}
.nav_list{
    @include flex(space-between);

    .nav_index p{font-size: $font11;}
    .nav_name p{font-size: $font42; margin-left: 50px; transition: .5s;}    
}
.nav_icon svg{ transition:.3s; }
// ---------------------------------------nav menu
// ----------------------------------------header 끝

.jounal_header{
    padding: 15.5vh 0;
}
.articles{display: flex; justify-content: center;}
.articles_slider_head{
    width: 50%;
    margin-left: 10%;
    margin-right: 5%;
    p{
        font-size: $font16;
        margin-bottom: 24px;
    }
    h1{
        font-size: $font53;
        font-weight: normal;
    }
}
.articles_slider_content{
    width: 50%;
    margin-right: 20%;
    .content_text{
        font-size:$font21;
        letter-spacing: -.64px;
        line-height: 1.64;
        opacity: .5;
        margin-bottom: 32px;
    }
    .articles_slider_cta{
        padding: 10px 0;

        a{
            display: flex;
            .articles_slider_cta_text{
                margin-left: 52px;
                span{
                    font-size: $font16;
                    letter-spacing: -3px;
                }
            }
        }
    }
}
.articles_slider_media{
    height: 53.5vh;
    margin-top: 90px;
    overflow: hidden;
    position: relative;
    img{
        position: absolute; left:0; top:-50%;
    }
}
.journal_main{
    display: flex;
    padding-top: 15.5vh;
    padding-bottom: 23vh;
    width: 100%;
    position: relative;
}
.journal_side{
    width: 13%;
    position: absolute;
    top: 15.5vh;
    left: 3.3333%;
    .journal_side_title{
        margin-bottom: 45px;
        color: $red;
        font-size: $font16;
    }
    .side_list{
        padding: 0; margin:0;
       li{
           margin-bottom: 26px;
           span:nth-of-type(1){
               color: $red;
               font-size: $font11;
               margin-right: 16px;
           }
           span:nth-of-type(2){
               font-size: $font16;
           }
       }
    }
}
.journal_content{
    width: 70%;
    margin-left: 26.7%;
    min-height: 100vh;
    .journal_content_title{
        margin-bottom: 60px;
        letter-spacing: -1.25px;
        line-height: 1.33;
        font-size: $font42;
        font-weight: normal;
    }
}
.journal_posts{
    a{
        p{
            opacity: 0.5;
            font-size: $font16;
            margin-bottom: 24px;
        }
        img{
            width:400px; height: 268.172px;
            margin-bottom: 32px;
        }
        h2{
            margin-bottom: 38px;
            font-size: $font42;
            font-weight: normal;
        }
    }
}
.journal_post_article{
    display: flex;
    align-items: center;
    margin-bottom: 40px;    
    .articles_slider_cta_text{
        margin-left: 40px;

        span{
        font-size: $font16;
        letter-spacing: -3px;
        }
    }
}
.post_border{
    width: 400px;
    height: 1px;
    background: $mainColor;
    transform-origin: left center;
    margin-top: 70px;
}

footer{
    padding-bottom: 30px;
    .footer_container{
        @include w93_ma0;
        p{
            font-size: $font11; font-weight: bold;
            letter-spacing: -.26px;
            line-height: 1.57;
        }
    }
}