@import url("common.css");
body {
  background-color: #d4d0bc;
  -webkit-transition: .5s;
  transition: .5s;
}

header {
  width: 93%;
  margin: 0 auto;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  border-bottom: 1px solid #201d1e;
}

.logo {
  width: 45%;
}

.logo span {
  font-weight: bold;
  font-size: 1.6em;
}

.categories_all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories_all:hover .icon_inner div:nth-of-type(1) {
  left: 75%;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.categories_all:hover .icon_inner div:nth-of-type(2) {
  top: 75%;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.categories_all:hover .icon_inner div:nth-of-type(3) {
  right: 75%;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.categories_all:hover .icon_inner div:nth-of-type(4) {
  bottom: 75%;
}

.categories_text {
  margin-right: 14px;
}

.categories_text span {
  font-size: 1.6em;
}

.categories_icon {
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon_inner {
  width: 12px;
  height: 12px;
  position: relative;
}

.icon_inner .all_dot {
  width: 3px;
  height: 3px;
  background: #201d1e;
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
}

.icon_inner .all_dot:nth-of-type(1) {
  top: 0;
  left: 0;
}

.icon_inner .all_dot:nth-of-type(2) {
  top: 0;
  right: 0;
}

.icon_inner .all_dot:nth-of-type(3) {
  bottom: 0;
  right: 0;
}

.icon_inner .all_dot:nth-of-type(4) {
  bottom: 0;
  left: 0;
}

.menu_toggle {
  position: fixed;
  top: 39px;
  right: 4%;
  z-index: 99;
  -webkit-transform: translate(18px, -50%);
          transform: translate(18px, -50%);
}

.menu_toggle:hover .menu-trigger span::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu_toggle .menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.menu_toggle .menu-trigger span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #201d1e;
  border-radius: 4px;
}

.menu_toggle .menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu_toggle .menu-trigger span:nth-of-type(2) {
  top: 20px;
}

.menu_toggle .menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu_toggle .menu-trigger span::after {
  content: '';
  background: #fc3e1d;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: .2s;
  transition: .2s;
}

.menu_toggle .menu-trigger span:nth-of-type(1)::after {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.menu_toggle .menu-trigger span:nth-of-type(2)::after {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.menu_toggle .menu-trigger span:nth-of-type(3)::after {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.menu_nav {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #dcd6d0;
  z-index: 5;
  padding: 110px 10%;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu_nav.active {
  top: 0%;
}

.menu_nav .h3 {
  width: 40%;
  height: 95%;
}

.menu_nav .h3 h3 {
  font-size: 3.4em;
  color: #fc3e1d;
  font-weight: normal;
}

.menu_list {
  width: 55%;
}

.menu_list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 25px;
  margin-bottom: 42px;
  border-bottom: 1px solid #201d1e;
  position: relative;
}

.menu_list li a:hover .nav_name p {
  color: #fc3e1d;
}

.menu_list li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu_list li a:hover svg {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu_list li a::after {
  content: '';
  width: 100%;
  height: 1.5px;
  background: #201d1e;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_list .nav_index p {
  font-size: 1.12em;
}

.nav_list .nav_name p {
  font-size: 4.2em;
  margin-left: 50px;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav_icon svg {
  -webkit-transition: .3s;
  transition: .3s;
}

.filter {
  width: 93%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.filter p {
  font-size: 1.6em;
}

.filter span {
  font-size: 1.6em;
  margin-right: 17px;
}

.main_visual {
  overflow: hidden;
  height: 70vh;
}

.main_visual_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.main_visual_contents figure {
  margin: 0 40px;
  position: relative;
  width: 30%;
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.main_visual_contents figure img {
  height: 100%;
}

.main_visual_contents figure figcaption {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.6em;
}

.main_bottom {
  width: 93%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.bottom_text p {
  font-size: 1.12em;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.5;
}

.categories_arrows button {
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  margin: 0 15px;
  padding: 0;
}

.bottom_logo {
  width: auto;
  height: 8vh;
}

.bottom_logo svg {
  width: 60px;
  height: 60px;
}
/*# sourceMappingURL=main.css.map */