@import url('common.css');


$mainColor : #201d1e;
$beige :#dcd6d0;
$red: #fc3e1d;
$font11: 1.12em;
$font16: 1.6em;
$font34: 3.4em;
$font42: 4.2em;

@mixin w93_ma0 {
    width:93%;
    margin: 0 auto; 
}
@mixin flex($justify) {
    display:flex;
    justify-content: $justify;
    align-items: center;
}

body{background-color: rgb(212, 208, 188); transition: .5s;}

// ----------------------------------------header
header{ @include w93_ma0;}
article{
    @include flex(left);
    padding: 25px 0;
    border-bottom: 1px solid $mainColor;
}
.logo{
    width: 45%;
    span{
        font-weight: bold;
        font-size: $font16;
    }
}
.categories_all{
    @include flex(center);

    &:hover .icon_inner div:nth-of-type(1){left:75%; transition-delay: .2s;}
    &:hover .icon_inner div:nth-of-type(2){top:75%; transition-delay: .1s;}
    &:hover .icon_inner div:nth-of-type(3){right:75%; transition-delay: .1s;}
    &:hover .icon_inner div:nth-of-type(4){bottom:75%;}
}
.categories_text{
    margin-right: 14px;

    span{ font-size: $font16; }
}
.categories_icon{
    width: 26px; height:26px;
    @include flex(center);


}
.icon_inner{
    width: 12px; height:12px;
    position: relative;

    .all_dot{
        width: 3px; height:3px; background: $mainColor;
        position: absolute;
        transition: .3s;
        &:nth-of-type(1){top:0; left:0;}
        &:nth-of-type(2){top:0; right:0;}
        &:nth-of-type(3){bottom:0; right:0;}
        &:nth-of-type(4){bottom:0; left:0;}
    }
}
//------------------ menu-toggle
.menu_toggle{
    position: fixed;
    top:39px; right:4%;
    z-index: 99;
    transform: translate(18px,-50%);

    &:hover .menu-trigger span::after{ transform:scaleX(1); }

    .menu-trigger{
        position: relative;
        width: 50px;
        height: 44px;
        transform:scale(0.5);
        display: inline-block;
        transition: all .4s;
        span{
            display: inline-block;
            transition: all .4s;
            position: absolute;
            left: 0;
            width: 100%; height: 4px;
            background-color: $mainColor;
            border-radius: 4px;
            
            &:nth-of-type(1){ top: 0; }
            &:nth-of-type(2){ top: 20px; }
            &:nth-of-type(3){ bottom: 0; } 
                        
            &::after{
                content: '';
                background: $red;
                position: absolute;
                top:0; left:0;
                width: 100%; height:100%;
                border-radius: 4px;
                transform:scaleX(0);
                transform-origin: left center;
                transition: .2s;
            }
            &:nth-of-type(1)::after{transition-delay: .1s;}
            &:nth-of-type(2)::after{transition-delay: .2s;}
            &:nth-of-type(3)::after{transition-delay: .3s;}   
        }
    }
}
//------------------ menu-toggle

// ---------------------------------------nav menu
.menu_nav{
    position: fixed;
    top:-100%; left:0;
    width: 100%; height:100%;
    @include flex(center);
    background: $beige;
    z-index: 5;
    padding: 110px 10%;
    transition:.5s;
    &.active{ top:0%;}

    .h3{
        width: 40%; height: 95%;
        h3{
            font-size: $font34;
            color: $red;  
            font-weight: normal;  
        }
    }
}
.menu_list{
    width: 55%;
    li a{
        @include flex(space-between);
        padding-bottom: 25px;
        margin-bottom:42px;
        border-bottom: 1px solid $mainColor;
        position: relative;

        &:hover .nav_name p{color: $red;}
        &:hover::after{transform:scaleX(1);}
        &:hover svg{transform:rotate(45deg);}
        &::after{
            content: '';
            width: 100%; height:1.5px;
            background: $mainColor;
            position:absolute;
            left:0; bottom:0;
            transform-origin: left center;
            transition: .5s;
            transform: scaleX(0);
        }
    }
}
.nav_list{
    @include flex(space-between);

    .nav_index p{font-size: $font11;}
    .nav_name p{font-size: $font42; margin-left: 50px; transition: .5s;}    
}
.nav_icon svg{ transition:.3s; }
// ---------------------------------------nav menu
// ----------------------------------------header 끝


.filter{
    @include w93_ma0;
    @include flex(space-between);
    padding: 20px 0;

    p{font-size: $font16;}
    span{font-size: $font16; margin-right: 17px;}
}

.main_visual{
    overflow: hidden;
    height:70vh;
}

.main_visual_contents{
    @include flex(space-between);
    height:100%;

    figure{
        margin: 0 40px;
        position: relative;
        width: 350px; height:100%;
        flex: 0 0 auto;
        
        figcaption{
            position: absolute;
            right:0; 
            font-size: $font16;
            
            &:nth-of-type(1){top:0;
                transform-origin: 0% 100%;
                transform:translate(100%,-100%) rotate(90deg);
            }
            &:nth-of-type(2){
                bottom:0;
                transform-origin: 100% 100%;
                transform: rotate(90deg);
            }
        }

    }
}
// ---------------------------------main bottom
.main_bottom{
    @include w93_ma0;
    @include flex(space-between);
    margin-top: 15px;
}
.bottom_text p{
    font-size: 1.12em;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.5;
}
.categories_arrows button{
    background: none;
    border:none;
    width: 40px; height:40px;
    margin:0 15px; padding:0;
}
.bottom_logo{
    width: auto; height:8vh;

    svg{width: 60px; height:60px;}
}
// ---------------------------------main bottom
